@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Dela+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

html, body {
    margin: 0;
    height: auto;
    overscroll-behavior: none;
}

body {
    background-color: #1F2833;
    font-family: Tahoma, sans-serif;
}

.no-scroll {
    overflow: hidden;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.displaynone {
    display: none;
}

/* Splashscreen */
#splashdiv {
    width:100%;
    height: 100%;
    z-index: 90;
    background: #0B0C10;
    -webkit-animation: fadeout 4s linear forwards;
    animation: fadeout 4s linear forwards;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

#splashtitle, #splashsubtitle {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    color: whitesmoke;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}

#splashtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splashtext h1 {
    font-size: 5vw;
}

#splashtext h2 {
    font-size: 3vw;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@-webkit-keyframes fadeout {
    0% {opacity: 1}
    50% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeout {
    0% {opacity: 1}
    50% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes instantfadeout {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes instantfadeout {
    0% {opacity: 1}
    100% {opacity: 0}
}

.instantfadeout {
    animation: instantfadeout 1s linear forwards;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    display: none;
}

/* Navigation menu */
header {
    position:sticky;
    height: auto;
    top: 0;
}

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    max-height: 64px;

    background-color: #0B0C10;
}

nav div {
    margin: 5px;
}

.navimglink img {
    max-height: 32px;
    width: auto;
    padding-left: 12px;
    padding-right: 6px;
    /*margin-top: 16px;
    margin-bottom: 16px;*/
}

#leftnav {
    float: left;
    display: flex;
    align-items: center;
    padding-right: 0;
}

#leftnav a {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    height: 80%;
}

.verticalbar {
    width: 1px;
    height: 80%;
    border-right-style: solid;
    border-width: 1px;
    border-color: #66FCF1;
}

#leftnav a:link, #midnav a:link{
    color: #66FCF1;
    text-decoration: none;
}

#leftnav a:visited, #midnav a:visited {
    color: #66FCF1;
}

#leftnav a:hover {
    color: whitesmoke;
    text-decoration: none;
}

#leftnav img, .leftnavlogolink {
    height: 80%;
    padding-left: 5px;
    padding-right: 24px;
}

#midnav {
    flex-grow: 5;
}

#rightnav {
    float: right;
    display: flex;
    align-items: center;
}

#navlinks {
    vertical-align: center;
    display: flex;
    flex-direction: row;
}

#navlinks > div {
    color: whitesmoke;
}

#navlinks > .grow:hover > img {
    transform: scale(1.1);
}

/* Main portion */
article:first-child {
    height: 100vw;
}

article {
    width: 100%;

    display:flex;
    align-items: center;
    flex-direction: column;

    color: white;
}

#landing {
    margin-top: 12vw;
    height:45vw;
}

#landing h1 {
    font-family: 'Pixelify Sans', serif;
    font-size: 5vw;
    color: greenyellow;
    margin: 0;
}

#landing h2 {
    font-family: 'Oswald', serif;
    font-size: 3vw;
    color: greenyellow;
    margin: 0;
}

#landing h3 {
    font-family: 'Oswald', serif;
    font-size: 2vw;
    margin-top: 2%;
}

article p {
    text-align: center;
    width: 100%;
}

/* Presentation section */

#whoami > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #053B50;
    margin: 5%;
    padding: 3%;
    border-radius: 20px;
}

#whoami p {
    text-align: justify;
}

#whoami h1, h2, h3 {
    text-align: center;
}

.whoamiHeaderContainer {
    width: 80%;
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: #325272;
    padding-left: 5%;
    border-radius: 10px;
}

.whoamiHeaderContainer a:link, .whoamiHeaderContainer a:visited {
    text-decoration: none;
}

.whoamiHeaderContainer > div {
    flex-grow: 1;
}

.cvButton, .cvButton:link, .cvButton:visited {
    text-decoration: none;
    color: white;
    padding: 10px 5px 10px 5px;
    border-color: #129f4a;
    border-style: solid;
    border-width: 1px;
}

.cvButton:hover {
    background-color: #129f4a;
}

#whoami > div > div:nth-child(4) {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#whoami > div > div:nth-child(4) > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#whoami > div > div:nth-child(4) > div > div {
    max-width: 30%;
}

/* lang */
.fr {}

.en {}

.dontdisplay {
    display:none !important;
}